In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data2.csv')

In [12]:
data[(data.location =="Poland") & (data.sex == "Male") & (data.year == 2010)]

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Poland,Male,20 to 24,Road injuries,Number,2010,476.475277,494.279123,458.312240
2,Deaths,Poland,Male,25 to 29,Road injuries,Number,2010,404.630638,419.670648,388.054660
4,Deaths,Poland,Male,30 to 34,Road injuries,Number,2010,333.944110,350.091463,319.380397
6,Deaths,Poland,Male,35 to 39,Road injuries,Number,2010,298.177738,313.912628,284.042822
8,Deaths,Poland,Male,40 to 44,Road injuries,Number,2010,290.178068,305.017646,275.498882
10,Deaths,Poland,Male,45 to 49,Road injuries,Number,2010,335.073248,352.677239,317.374091
12,Deaths,Poland,Male,50 to 54,Road injuries,Number,2010,409.302025,430.642006,390.639172
14,Deaths,Poland,Male,55 to 59,Road injuries,Number,2010,361.584641,378.779377,344.613658
16,Deaths,Poland,Male,60 to 64,Road injuries,Number,2010,262.913923,275.710752,251.198579
18,Deaths,Poland,Male,65 to 69,Road injuries,Number,2010,149.397168,156.386742,142.211688
20,Deaths,Poland,Male,70 to 74,Road injuries,Number,2010,145.863186,154.127571,137.752415
22,Deaths,Poland,Male,75 to 79,Road injuries,Number,2010,131.739980,139.261078,123.849746
24,Deaths,Poland,Male,80 plus,Road injuries,Number,2010,132.017458,141.704839,117.084576
26,Deaths,Poland,Male,All Ages,Road injuries,Number,2010,4051.739129,4121.110990,3983.534175